<div class="col-10 offset-1">
  <div class="pt-2">
    <strong>
      <%= link_to "ゲーム詳細に戻る", admin_game_path(@game.id) %>
    </strong>
  </div>
  <div class="row justify-content-center">
    <h1 class="py-2"><strong>ゲーム情報編集</strong></h1>
  </div>
  <div class="row justify-content-center">
    <%= form_with model:@game, url: admin_game_path do |f| %>
      <div>
        <h3>画像</h3>
        <%= f.file_field :image, accept: "image/*" %>
      </div>
      <div>
        <h3>タイトル</h3>
        <%= f.text_field :title %>
      </div>
      <div>
        <h3>人数</h3>
          <%= f.radio_button :player, Game.players.key(0) %><%= f.label:player,'一人用', value: Game.players.key(0) %>
          <%= f.radio_button :player, Game.players.key(1) %><%= f.label:player,'二人用', value: Game.players.key(1) %>
          <%= f.radio_button :player, Game.players.key(2) %><%= f.label:player,'三人用', value: Game.players.key(2) %>
          <%= f.radio_button :player, Game.players.key(3) %><%= f.label:player,'四人用', value: Game.players.key(3) %>
      </div>
      <div>
        <h3>ジャンル</h3>
        <%= f.radio_button :genre, Game.genres.key(0) %><%= f.label:genre,'音楽', value: Game.genres.key(0) %><br>
        <%= f.radio_button :genre, Game.genres.key(1) %><%= f.label:genre,'ロールプレイング', value: Game.genres.key(1) %><br>
        <%= f.radio_button :genre, Game.genres.key(2) %><%= f.label:genre,'アクション', value: Game.genres.key(2) %><br>
        <%= f.radio_button :genre, Game.genres.key(3) %><%= f.label:genre,'テーブル', value: Game.genres.key(3) %><br>
        <%= f.radio_button :genre, Game.genres.key(4) %><%= f.label:genre,'パズル', value: Game.genres.key(4) %><br>
        <%= f.radio_button :genre, Game.genres.key(5) %><%= f.label:genre,'シューティング', value: Game.genres.key(5) %><br>
      </div>
      <%= f.submit "更新する" %>
    <% end %>
  </div>
</div>
