<div class="col-10 offset-1">
  <div class="pt-2">
    <strong>
      <%= link_to "ゲーム登録・一覧に戻る", admin_games_path %>
    </strong>
  </div>
  <div class="row justify-content-center">
    <h1 class="py-2"><strong>ゲーム詳細</strong></h1>
  </div>
  <div class="row justify-content-center">
    <div class="pr-5 mr-5">
      <%= image_tag @game.get_image, size: "300x300"%>
    </div>
    <h3>
      <%= @game.title %><br>
      <%= @game.player %><br>
      <%= @game.genre %>
    </h3>
  </div>
  <div class="row justify-content-center pt-5">
    <%= link_to "編集画面へ", edit_admin_game_path, class: "btn btn-success" %>
  </div>
  <div class="row justify-content-center pt-3">
    <%= link_to "削除", admin_game_path(@game.id), method: :delete, class: "btn btn-danger" %>
  </div>
</div>

