<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">コメントフォーム</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with model:[@review, @comment], url:public_game_review_comments_path(game_id:@game.id, review_id:@review.id) do |f| %>
            <%= f.hidden_field :review_id, value: @review.id %>
            <%= f.text_area :comment_body, class:"form-control" %>
            <div class="d-flex justify-content-center pt-3">
                <%= f.submit 'コメントする', class:"btn btn-primary" %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="col">
    <div class="pt-2">
        <strong>
            <%= link_to "ゲームレビューに戻る", public_game_path(@game.id) %>
        </strong>
    </div>
    <div class="row justify-content-center pb-3">
        <h1><strong>レビュー詳細</strong></h1>
    </div>
    <div class="card">
        <h5 class="card-header d-flex justify-content-between"><%= @review.title %></h5>
        <div class="card-body">
            <p class="card-text"><%= @review.body %></p>
        </div>
        <div class="card-footer py-2 d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary" id="nicebutton">
                    <%= render "public/reviews/nice", review: @review, nice: @review.nices.find_by(customer_id: current_customer.id) %>
                </button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">コメントする</button>
            </div>
        </div>
    </div>
    <div class="row justify-content-center pt-3">
        <h3><strong>コメント欄</strong></h3>
    </div>
    <div class="card">
        <% @comments.each do |comment| %>
            <div class="card-body">
                <div><%= comment.customer.nick_name %></div>
                <div class="card-text"><%= comment.comment_body %></div>
            </div>
        <% end %>
    </div>
    <div class="row justify-content-center py-5">
        <%= paginate @comments, theme: 'twitter-bootstrap-4' %>
    </div>
</div>




