<h1>レビュー詳細</h1>
    <div class="card">
        <h5 class="card-header"><%= @review.title %></h5>
        <div class="card-body">
            <p class="card-text"><%= @review.body %></p>
        </div>
    </div>
    <%= form_with model:[@review, @comment], url:public_game_review_comments_path(game_id:@game.id, review_id:@review.id) do |f| %>
        <%= f.hidden_field :review_id, value: @review.id %>
        <%= f.text_area :comment_body %>
        <%= f.submit 'コメントする' %>
    <% end %>
    <% @comments.each do |comment| %>
        <div>
            <h5><%= comment.comment_body %></h5>
        </div>
    <% end %>
